h1{
    text-align: center;
    font-weight: bold;
    font-family:serif;
    font-size: 35px;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px;
    padding: 5px;
}

.box{
    border: 2px solid black;
    background-color: rgb(119, 118, 118);
    margin: 8px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}
#chicken{
    align-items: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    box-sizing: border-box;
    color: black;
    background-color: rgb(119, 118, 118);
}
.yeah {
    list-style-type: lower-roman;
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontal alignment */
    justify-content: center; /* Vertical alignment */
    padding: 0;
    padding-left: 20px; /* Adjust this value as needed */
}